POSTGRES_AUTH_DATA_PATH=D:/docker-data/locahome/postgres-auth
POSTGRES_PROPERTY_DATA_PATH=D:/docker-data/locahome/postgres-property
POSTGRES_BOOKING_DATA_PATH=D:/docker-data/locahome/postgres-booking
