PORT=3000
FRONTEND_ORIGIN=http://localhost:5173
JWT_SECRET=super-secret-jwt-key
AUTH_SERVICE_URL=http://localhost:3001
PROPERTY_SERVICE_URL=http://localhost:3002
BOOKING_SERVICE_URL=http://localhost:3003
